.arlo_tm_preloader {
    position: fixed;
    background-color: #fff;
    z-index: 9999999;
    height: 100%;
    width: 100%;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}

.arlo_tm_preloader .spinner_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 33333;
}

.arlo_tm_preloader.loaded {
    opacity: 0;
    visibility: hidden;
}

.arlo_tm_preloader:before, .arlo_tm_preloader:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #000;
    -webkit-transition: .7s all ease;
    -o-transition: .7s all ease;
    transition: .7s all ease;
}

.arlo_tm_preloader:before {
    top: 0;
    left: 0;
}

.arlo_tm_preloader:after {
    bottom: 0;
    left: 0;
}

.arlo_tm_preloader.loaded:before, .arlo_tm_preloader.loaded:after {
    height: 0%;
}

.spinner {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
