/*---------------------------------------------------*/
/*	12) ARLO NEWS
/*---------------------------------------------------*/

.arlo_tm_news{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 100px;
	padding-top: 140px;
}
.arlo_tm_news .news_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 90px;
}
.arlo_tm_news .news_inner ul{
	margin: 0px 0px 0px -50px;
	list-style-type: none;
}
.arlo_tm_news .news_inner ul li{
	margin: 0px 0px 50px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 50px;
}
.arlo_tm_news .news_inner ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	box-shadow: 0px 0px 20px rgba(0,0,0,.2);
}
.arlo_tm_news .news_inner ul li .inner .image{
	position: relative;
	float: left;
}
.arlo_tm_news .news_inner ul li .inner .image .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.arlo_tm_news .news_inner ul li .inner .overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.15);
	z-index: 1;
}
.arlo_tm_news .news_inner .larger{display: block;}
.arlo_tm_news .news_inner .smaller{display: none;}
.arlo_tm_news .news_inner ul li .inner .link{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 3;
}
.arlo_tm_news .news_inner ul li .inner .category{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	display: inline-block;
	background-color: #ff214f;
	color: #fff;
	padding: 3px 15px;
}
.arlo_tm_news .news_inner ul li .inner .details{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #f9f9f9;
	padding: 30px 50px 43px 50px;
}
.arlo_tm_news .news_inner ul li .inner .details .date{
	width: 100%;
	float: left;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.arlo_tm_news .news_inner ul li .inner .details .date:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,.2);
	bottom: 0px; 
}
.arlo_tm_news .news_inner ul li .inner .details .date a{
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid transparent;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_news .news_inner ul li .inner .details .date a:hover{border-bottom-color: #000;}
.arlo_tm_news .news_inner ul li .inner .details .title{font-size: 20px;}
.arlo_tm_news .news_inner ul li .inner .details .title a{
	text-decoration: none;
	color: #000;
	display: inline-block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_news .news_inner ul li .inner .details .title a:hover{color: #ff214f;}
.arlo_tm_news .news_inner ul li .full_des{display: none;}
.arlo_tm_popup_news{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	z-index: 100;
	display: none;
}
.arlo_tm_popup_news .news_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 50px 0px;
}
.arlo_tm_popup_news.opened{display: block;}
.arlo_tm_popup_news .closer{
	position: fixed;
	font-weight: 600;
	top: 50px;
	right: 50px;
	z-index: 1;
	color: #000;
	text-decoration: none;
}
.arlo_tm_popup_news .image{
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 30px;
}
.arlo_tm_popup_news .date{margin-bottom: 10px;}
.arlo_tm_popup_news .date a{
	text-decoration: none;
	color: #ff214f;
	border-bottom: 1px solid transparent;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_popup_news .date a:hover{border-bottom-color: #ff214f;}
.arlo_tm_popup_news .image img{min-width: 100%;}
.arlo_tm_popup_news .image .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.arlo_tm_popup_news .larger{display: none;}
.arlo_tm_popup_news .smaller{display: block;}
.arlo_tm_popup_news .title{margin-bottom: 30px;}
.arlo_tm_popup_news .full_des{
	width: 100%;
	float: left;
}
.arlo_tm_popup_news .full_des p{margin-bottom: 20px;}
.arlo_tm_popup_news .social{
	width: 100%;
	float: left;
	display: flex;
	align-items: center;
}
.arlo_tm_popup_news .social span{font-weight: 500;}
.arlo_tm_popup_news .social ul{
	margin: 0px;
	list-style-type: none;
	padding-left: 20px;
}
.arlo_tm_popup_news .social ul li{
	margin: 0px 10px 0px 0px;
	display: inline-block;
}
.arlo_tm_popup_news .social ul li a{
	text-decoration: none;
	color: #000;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_popup_news .social ul li a:hover{color: #ff214f;}
.arlo_tm_popup_news .des_serv_list{
	width: 100%;
	float: left;
	margin-bottom: 18px;
}
.arlo_tm_popup_news .des_serv_list ul{
	margin: 0px;
	list-style-type: none;
}
.arlo_tm_popup_news .des_serv_list ul li{
	margin: 0px;
	position: relative;
	padding-left: 20px;
}
.arlo_tm_popup_news .des_serv_list ul li:before{
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	background-color: #000;
	border-radius: 100%;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.arlo_tm_popup_news .category{display: none;}
